* {
  margin: 0;
  box-sizing: border-box;
}

.collaborate__heading {
  padding: 20px;
}
.card__titleContainer {
  order: 2;
}

.collaborate__heading > h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: 5%;
  margin-top: 35%;
  margin-bottom: 8%;
}
.cards__split {
  background-color: #202226;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.image__container {
  width: 80%;
  height: max-content;
  position: relative;
  top: 35%;
}
.card__header {
  width: 100%;
  margin: auto;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .collaborate__heading > h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 5%;
    margin-top: 12rem;
    margin-bottom: 8%;
  }
  .cards__split {
    background-color: #202226;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .image__container {
    width: 85%;
    position: relative;
    height: 100rem; 
    top: 30%;
  }
  .card__header {
    width: 100%;
    height: 23rem;
    margin: auto;
    object-fit: cover;
  }
}